<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="form-group">
    <% f.label :image_path %>
    배너 이미지 : <%= f.file_field :image_path, class: "form-control" %>
   </div>
   
   
   <div class="form-group">
    인원수 : <% f.label :project_people %>
    <%= f.select :project_people, 인원수:["선택",1,2,3,4,5] %>
   </div>
  
  
    카테고리 : <select name="category_id" class="category_list">
                 <option value="select">선택</option>
                 <option value="빅데이터">빅데이터</option>
                 <option value="웹">웹</option>
                 <option value="앱">앱</option>
                 <option value="ai">ai</option>
               </select>
               
    <!-- 카테고리 달리는 곳  -->
    <div class="add_categories">
        <%unless @project.categories.empty?%>
            <%@project.categories.each do |category|%>
                <span class="delete_category" data-category_id=<%=category.category_contents%>>
                    <%=category.category_contents%>x#
                </span>
            <%end%>
        <%end%>
    </div></br>
 
    <!--카테고리 값 받는곳 -->
    
    <input type="hidden" name="category" id="category"value="<%unless @project.categories.empty?%><%= @project.categories.map{|c| c.category_contents+","}.reduce(:+).gsub(/[,]$/,'')%><%end%>">
    
 
  
    <div class="form-group">
      프로젝트명 : <% f.label :project_title %>
      <%= f.text_field :project_title, class: "form-control" %>
    </div>
   
    <div class="form-group">
      프로젝트 내용 : <% f.label :project_contents %>
      <%= f.text_area :project_contents, 'data-provider': :summernote %>
    </div>
  
  
  
  
    <div class="tech">
    기술스텍 : <input type="text" placeholder="기술"  class="search">
    </div>
    
    <!--스킬 검색창 띄우는곳-->
    <div class="add_skill"></div></br>
    
    <!--스킬 뱃지달리는곳-->
    <div class="skill_badge">
    <%unless @project.skills.empty?%>
        <%@project.skills.each do |skill|%>
            <span class="delete_skill" data-skill_id="<%=skill.skill_contents%>">
            <%=skill.skill_contents%>x#
            </span>
        <%end%>
    <%end%>
    </div></br>

    <!--스킬 값 받는 곳-->
 
    <input type="hidden" name="skill" id="skill" value="<%unless @project.skills.empty?%><%=@project.skills.map{|c| c.skill_contents+","}.reduce(:+).gsub(/[,]$/,'')%><%end%>">
   

  
    <div class="actions">
       <input type="submit" name="commit" value="등록" data-disable-with="Create Project">
       <a href="/projects"><input type="button" value="취소"></a>
    </div>
     
<% end %>

<script>
  
  $(document).ready(function(){
        var find_skill = [];
        var find_category = [];
        
         $('.delete_category').each(function () {
            find_category.push($(this).attr('data-category_id')); 
        })
          $('.delete_skill').each(function () {
            find_skill.push($(this).attr('data-skill_id')); 
        })
        
       //스킬 탐색 기능
        $('.search').on('keyup', function(){
            
            var search = $(this).val();
            $.ajax({
                url:'/projects/search',
                type:'POST',
                data: {
                    tech: search
                }
                
            });
        });
        
         //스킬 뱃지 달기
        $(document).on('click', '.skill', function(){
           if(find_skill.indexOf($(this).text())>-1){
               alert('중복 값은 불가합니다.');
           }else{
               find_skill.push($(this).text());
               $(".skill_badge").prepend(`<span class='delete_skill'>${$(this).text()}x#</span>`);
               $('#skill').val(find_skill.join(','));
           }
        })
        
        //x를 눌렸을 때 스킬이 제거됨
        $(document).on('click','.delete_skill',function(){
            let selected_skill= $(this).data('skill_id');
            let index =find_skill.indexOf(String(selected_skill));
            find_skill.splice(index,1);
            $('#skill').val(find_skill.join(','));
            $(this).remove();
        })
    
           //카테고리 선택 뱃지 달기
        $(".category_list").on('change',function(){
            let selected_category = $(".category_list option:selected").text();
            let category_id = $(".category_list option:selected").val();
            if(find_category.indexOf(category_id)>-1){
                alert('중복 값은 불가합니다.')
            }else{
                find_category.push(category_id);
                $('#category').val(find_category.join(',')); //카테고리 값 넣는 곳
                $(".add_categories").prepend(`<span class='delete_category' data-category_id="${category_id}">${selected_category}x#</span>`)
            }
           
        })
            //카테고리 선택 뱃지 제거
        $(document).on("click",".delete_category",function(){
            let selected_category= $(this).data('category_id');//number 타입이라 배열은 string임
            let category_id_index= find_category.indexOf(String(selected_category));
            find_category.splice(category_id_index,1);
            console.log("배열삭제 된 후"+find_category)
            $('#category').val(find_category.join(','))
            $(this).remove();
             
        });
  });
  
</script>