$('.comment-list').prepend(`
  <li class="comment-<%= @comment.id %> media">
    <div class="media-left">
      <span>
        
      </span>
    </div>
    
    <div class="media-body">
      <div class="comment-info">
        <span class="comment-<%= @comment.id %> author-name"><%= User.find(@comment.user_id).user_name %> <span class="comment-<%= @comment.id %>">(<%= @comment.created_at.strftime("%m/%d at %I:%M%p") %>)</span></span>
        <div class="edit-reply">
            <a data-id="<%= @comment.id %>" class="edit-comment">수정</a>
            <a data-id="<%= @comment.id %>" class="destroy-comment">삭제</a>
        </div>
      </div>
      <p class="comment-detail-<%= @comment.id %>"><%= @comment.comment_contents%></p>
    </div>
  </li>
`);
   
$('.comment-contents').val('');
alert("문의사항 등록 완료");