<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>프로젝트 상세보기</h2>
<hr>

<div>
<h1>제목: <%= @project.project_title %></h1>
<hr>
<p><img src="<%= @project.image_path.thumb.url %>"></p>
<p>내용: <%= @project.project_contents %></p>
<p>인원수 : <%= UserProject.select(:id).where(:project_id => @project.id, :authorized_member => true).count %>/<%= @project.project_people %></p>
<p>생성날짜 : <%= @project.created_at.strftime("%F") %></p>
<p>days: +<%= TimeDifference.between(DateTime.now, @project.created_at).in_days.round(0) %>days</p>
<p>조회수: <%= @project.unique_impression_count %>views</p>
<p>관련스킬:</p>
<ul>
<% @project.skills.each do |skill| %>
<li><%= skill.skill_contents %></li>
<% end %>
</ul>

<p>관련카테고리:</p>
<ul>
<% @project.categories.each do |category| %>
<li><%= category.category_contents %></li>
<% end %>
</ul>

<hr>
<%if @project.master_id == @user.id%>
<a href="/projects/<%=@project.id%>/edit">프로젝트 수정</a>
<a href="/sssss/sss">프로젝트 삭제</a>
<%end%>

<form class="text-right join" action="/projects/<%= @project.id%>/join">
    <button type="submit" >참여하기</button>
</form>

<hr>
<h3>팀원 목록</h3>
<hr>
<ul class="member-list join-list">
<!--<li class="list-group-item">Cras justo odio</li>-->
  <% unless @project.users.empty? %> 
      <% @project.user_projects.each do |user| %>
        <% if user.authorized_member == true %>
            <li class="join-<%= user.id %> list-group-item ">
               <div>
                  <img class="join-<%= user.user_id %>" src="<%= User.find(user.user_id).user_image.thumbs.url %>">
                  <span class="join-<%= user.user_id %>"><%= User.find(user.user_id).user_name %></span>
                  <%= link_to '삭제', user_exit_project_path(user_id: @project.master_id,project_member: user.user_id) %>
               </div>
            </li>  
        <% end %>
      <% end %>
  <% end %>
  
   
</ul>

<% if @project.master_id == current_user.id %>
<hr>
<h3>신청 목록</h3>
<hr>
<ul class="list-group join-list">
<!--<li class="list-group-item">Cras justo odio</li>-->
  <% unless @project.users.empty? %> 
      <% @project.user_projects.each do |user| %>
         <% if user.authorized_member == false%>
        <li class="join-<%=user.user_id%> list-group-item ">
            <div>
              <img class="join-<%= user.user_id %>" src="<%= User.find(user.user_id).user_image.thumbs.url %>">
              <span class="join-<%= user.user_id %>"><%= User.find(user.user_id).user_name %></span>
              <input type="button" value="승인" class="accept" data-user_id="<%=user.user_id %>"> 
              <input type="button" value="취소" class="cancel" data-user_id="<%=user.user_id %>">
           </div>
        </li>  
      <% end %>
      <% end %>
  <% end %>
  
   
</ul>

<% end %>

</div>
<%= link_to 'Back', projects_path %>

<form class="text-right comment">
    <input class="form-control comment-contents">
    <input type="submit" value="문의하기" class="btn btn-success">
    
</form>
<hr>
<h3>문의사항</h3>
<hr>
<ul class="list-group comment-list">
<!--<li class="list-group-item">Cras justo odio</li>-->
  <% @project.project_comments.reverse.each do |comment| %>
  
<li class="comment-<%= comment.id %> list-group-item d-flex justify-content-between">
       <div>
          <img class="comment-<%= comment.id %>" src="<%= User.find(comment.user_id).user_image.thumbs.url %>">
          <span class="comment-<%= comment.id %>"><%= User.find(comment.user_id).user_name %></span>
       </div>
       
       <div>
          <span class="comment-detail-<%= comment.id %>"><%= comment.comment_contents %></span>
       </div>
       
       <span class="comment-<%= comment.id %>"><%= comment.created_at.strftime("%m/%d at %I:%M%p") %></span>
       <div>
           <%if @user.id == comment.user_id%>
               <button data-id="<%= comment.id %>"class="btn btn-warning text-white edit-comment">수정</button>
               <button data-id="<%= comment.id %>"class="btn btn-danger destroy-comment">삭제</button>
           <%end%>
       </div>
   </li>  
   
  <% end %>
  
   
</ul>

<script>
    $(document).on('ready', function() {
        $('.comment').on('submit', function(e) {
            e.preventDefault();
            var comm = $('.comment-contents').val();
            console.log(comm);
        $('.comment-contents').val('');
            $.ajax({
                url: "/projects/<%= @project.id%>/comments",
                method: "POST",
                data: {
                    comment_contents: comm
                }
            });
        });
        
        $(document).on('click','.destroy-comment', function() {
          console.log("destroyed");
          var comment_id = $(this).attr('data-id');
          console.log(comment_id);
          $.ajax({
              url: "/projects/comments/" + comment_id,
              method: "delete"
          });
        });  
        
        $(document).on('click', '.edit-comment', function() {
            if($('.update-comment').length == 0){
            var comment_id = $(this).data('id');
            var edit_comment = $(`.comment-detail-${comment_id}`);
            var contents = edit_comment.text().trim();
            edit_comment.html(`
            <input type="text" value="${contents}" class="form-control edit-comment-${comment_id}">`);
            $(this).text("확인").removeClass("edit-comment btn warning").addClass("update-comment btn-dark");
            console.log(edit_comment);
            }else{
                alert('하나만 클릭하세요');
                return false;
            }
          
        });
        
        $(document).on('click', '.update-comment', function() {
            var comment_id = $(this).data('id');
            var comment_form = $(`.edit-comment-${comment_id}`);
            $.ajax({
                url: "/projects/comments/" + comment_id,
                method: "patch",
                data: {
                    comment_contents: comment_form.val()
                }
            })
        });
        $(".accept").on('click',function(){
            
            let id = $(this).data("user_id")
            $.ajax({
                url:"/projects/<%=@project.id%>/user_authorize",
                type:"POST",
                data:{
                    request_id:id
                }
            })
        })
        $(".cancel").on('click',function(){
            
        })
        
        
    });
    
</script>