<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<h1>프로젝트 상세보기</h2>
<hr>

<div>
<h1>제목: <%= @project.project_title %></h1>
<hr>
<p><img src="<%= @project.image_path.thumb.url %>"></p>
<p>내용: <%= @project.project_contents %></p>
<p>인원수 : <%= UserProject.select(:id).where(:project_id => @project.id, :authorized_member => true).count %>/<%= @project.project_people %></p>
<p>생성날짜 : <%= @project.created_at.strftime("%F") %></p>
<p>days: +<%= TimeDifference.between(DateTime.now, @project.created_at).in_days.round(0) %>days</p>
<p>조회수: <%= @project.unique_impression_count %>views</p>
<p>관련스킬:</p>
<ul>
<% @project.skills.each do |skill| %>
<li><%= skill.skill_contents %></li>
<% end %>
</ul>

<p>관련카테고리:</p>
<ul>
<% @project.categories.each do |category| %>
<li><%= category.category_contents %></li>
<% end %>
</ul>

<hr>
<%if @project.master_id == @user.id%>
<a href="/projects/<%=@project.id%>/edit">프로젝트 수정</a>
<a data-confirm="정말 프로젝트를 삭제하시겠습니까?" data-method="delete" href="/projects/<%=@project.id%>" rel="nofollow">프로젝트 삭제</a>
<%end%>
<%unless @project.users.include?(@user)%>
    <form class="text-right join" action="/projects/<%= @project.id%>/join">
        <button type="submit" >참여하기</button>
    </form>
<%end%>


<hr>


<h3>팀원 목록</h3>
<hr>
<ul class="member-list join-list">
<!--<li class="list-group-item">Cras justo odio</li>-->
  <% unless @project.users.empty? %> 
      <% @project.user_projects.each do |user| %>
        <% if user.authorized_member == true %>
            <li class="join-<%= user.user_id %> list-group-item ">
               <div>
                  
                  <img src="<%= User.find(user.user_id).user_image.thumbs.url %>">
                  <%if @project.master_id == user.user_id%>
                      팀장-<span class="join-<%= user.user_id %>"><%= User.find(user.user_id).user_name %></span>
                  <%else%>
                      팀원-<span class="join-<%= user.user_id %>"><%= User.find(user.user_id).user_name %></span>
                  <%end%>
                  <%if @user.id==user.id||@user.id == @project.master_id%>
                      <input type="button" value="취소" class="cancel" data-user_id="<%=user.user_id %>">
                  <%end%>
               </div>
            </li>  
        <% end %>
      <% end %>
  <% end %>
  
   
</ul>

<% if @project.master_id == current_user.id %>
<hr>
<h3>신청 목록</h3>
<hr>
<ul class="list-group join-list">
<!--<li class="list-group-item">Cras justo odio</li>-->
  <% unless @project.users.empty? %> 
      <% @project.user_projects.each do |user| %>
         <% if user.authorized_member == false%>
        <li class="join-<%=user.user_id%> list-group-item ">
            <div>
              <img class="join-<%= user.user_id %>" src="<%= User.find(user.user_id).user_image.thumbs.url %>">
              <span class="join-<%= user.user_id %>"><%= User.find(user.user_id).user_name %></span>
              <input type="button" value="승인" class="accept" data-user_id="<%=user.user_id %>"> 
              <input type="button" value="취소" class="cancel" data-user_id="<%=user.user_id %>">
           </div>
        </li>  
      <% end %>
      <% end %>
  <% end %>
  
   
</ul>

<% end %>

</div>
<%= link_to 'Back', projects_path %>

<form class="text-right comment">
    <input class="form-control comment-contents">
    <input type="submit" value="문의하기" class="btn btn-success">
    
</form>
<hr>
<%if @project.users.include?(@user)%>
    <%if UserProject.find_by(user_id: @user.id).authorized_member==true%>
            <h1>채팅창</h1>
            <!--현재 인원들-->
            <h3>현재 이 방에 참여한 사람</h3>
            <div class="joined_user_list">
                <%@project.user_projects.where(authorized_member: true).each do |user_project| %>
                    <%if @project.master_id.eql?(user_project.user_id)%>
                      <p class="user-<%=user_project.user_id%>">팀장-<%=User.find(user_project.user_id).user_name%></p>
                    <%else%>
                      <p class="user-<%=user_project.user_id%>">팀원-<%=User.find(user_project.user_id).user_name%></p>
                    <%end%>
                <%end%>
            </div>
            <hr>
            <!--채팅 달리는곳-->
            <div class="chat_list">
                <%@project.chats.each do |chat| %>
                    <p><%=chat.user.user_name%>:<%=chat.message%><small>(<%=chat.created_at.strftime("%m/%d at %I:%M%p")%>)</small></p>
                <%end%>
            </div>
            <!--채팅 적는 곳-->
            <%=form_tag("/projects/#{@project.id}/chat", remote: true) do %>
                <%= text_field_tag :message%>
            <%end%>
    <%end%>
<%end%>

    
   
 
<hr>
<h3>문의사항</h3>
<hr>
<ul class="list-group comment-list">
<!--<li class="list-group-item">Cras justo odio</li>-->
  <% @project.project_comments.reverse.each do |comment| %>
  
<li class="comment-<%= comment.id %> list-group-item d-flex justify-content-between">
       <div>
          <img class="comment-<%= comment.id %>" src="<%= User.find(comment.user_id).user_image.thumbs.url %>">
          <span class="comment-<%= comment.id %>"><%= User.find(comment.user_id).user_name %></span>
       </div>
       
       <div>
          <span class="comment-detail-<%= comment.id %>"><%= comment.comment_contents %></span>
       </div>
       
       <span class="comment-<%= comment.id %>"><%= comment.created_at.strftime("%m/%d at %I:%M%p") %></span>
       <div>
           <%if @user.id == comment.user_id%>
               <button data-id="<%= comment.id %>"class="btn btn-warning text-white edit-comment">수정</button>
               <button data-id="<%= comment.id %>"class="btn btn-danger destroy-comment">삭제</button>
           <%end%>
       </div>
   </li>  
   
  <% end %>
  
   
</ul>

<script>
    $(document).on('ready', function() {
        $('.comment').on('submit', function(e) {
            e.preventDefault();
            var comm = $('.comment-contents').val();
            console.log(comm);
        $('.comment-contents').val('');
            $.ajax({
                url: "/projects/<%= @project.id%>/comments",
                method: "POST",
                data: {
                    comment_contents: comm
                }
            });
        });
        
        $(document).on('click','.destroy-comment', function() {
          console.log("destroyed");
          var comment_id = $(this).attr('data-id');
          console.log(comment_id);
          $.ajax({
              url: "/projects/comments/" + comment_id,
              method: "delete"
          });
        });  
        
        $(document).on('click', '.edit-comment', function() {
            if($('.update-comment').length == 0){
            var comment_id = $(this).data('id');
            var edit_comment = $(`.comment-detail-${comment_id}`);
            var contents = edit_comment.text().trim();
            edit_comment.html(`
            <input type="text" value="${contents}" class="form-control edit-comment-${comment_id}">`);
            $(this).text("확인").removeClass("edit-comment btn warning").addClass("update-comment btn-dark");
            console.log(edit_comment);
            }else{
                alert('하나만 클릭하세요');
                return false;
            }
          
        });
        
        $(document).on('click', '.update-comment', function() {
            var comment_id = $(this).data('id');
            var comment_form = $(`.edit-comment-${comment_id}`);
            $.ajax({
                url: "/projects/comments/" + comment_id,
                method: "patch",
                data: {
                    comment_contents: comment_form.val()
                }
            })
        });
        
        //유저를 프로젝트에 가입시켜주는 요청
        //set_project 때문에 무조건 데이터 변수명 id로 해줘야함
        $(".accept").on('click',function(){
            
            let id = $(this).data("user_id")
            $.ajax({
                url:"/projects/<%=@project.id%>/user_authorize",
                type:"POST",
                data:{
                    accept_user:id
                }
            })
        })
        //신청 유저를 가입 취소시키는 방법
        $(".cancel").on('click',function(){
            
            let id = $(this).data("user_id")
            if(<%=@project.master_id%>===id){
                alert('팀장은 탈퇴 할 수 없습니다!.')
            }else{
                $.ajax({
                    url:"/projects/<%=@project.id%>/user_exit/<%=@project.id%>",
                    type:"get",
                    data:{
                        cancel_user:id
                    }
                })
            }
            
        })
        
        //채팅창을 위한 변수들 
        var pusher = new Pusher('<%=ENV["pusher_key"]%>', {
          cluster: '<%=ENV["pusher_cluster"]%>',
          encrypted: true
        });
        
        var channel = pusher.subscribe('project_<%=@project.id%>');
        
         //해당 채널이 바인딩 하고 있는 이벤트들
        channel.bind('join',function(data){
          console.log(data);
          user_joined(data);
        });
        channel.bind('chat',function(data){
            user_chat(data);
        })
        channel.bind('exit',function(data){
            console.log(data.user_id)
            user_exit(data);
        })
        channel.bind('disaster',function(data){
            master_exit(data);
        })


         function user_joined(data){
             $('.joined_user_list').append(`<p class="user-${data.user_id}">대화상대-${data.user_name}</p>`);
             $('.chat_list').append(`<p>${data.user_name}님께서 입장하셨습니다.</p>`);
         }
         
         function user_chat(data){
             $('.chat_list').append(`<p>${data.user_name}: ${data.message}<small>(${data.created_at})</small></p>`); 
         }
         
         function user_exit(data){
             console.log(data);
             $(`.user-${data.user_id}`).remove();
             $('.chat_list').append(`<p>${data.user_name}님께서 방을 나가셨습니다..</p>`);
         }
         function master_exit(data){
             alert('방장이 방을 나갔습니다.');
             location.href='/';
         }
         

       
        
        
    });
    
</script>