<!-- --------------------------------------------------------------------------------- -->
<!-- blog section start -->
<section class="blog-section section-padding">
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end -%>
  <div class="container">
    <div class="row">

      <!-- POST AREA -->
      <div class="col-md-9 post-area">
        <div class="posts-content single-post">
          <header class="entry-header-wrapper clearfix">
            <div class="project-detail-wrapper">
              <!--<img src="" class="img-responsive" alt="">-->
              <img src="<%= @project.image_path.thumb.url %>" class="img-responsive">
            </div><!-- .post-thumb -->
            
            <div class="entry-header">
              <h2 class="entry-title"><%= @project.project_title %></h2>

              <div class="entry-meta">
                <ul class="list-inline">
                  <li>
                    <i class="fa fa-user"></i><a href="#"><%= UserProject.select(:id).where(:project_id => @project.id, :authorized_member => true).count %>/<%= @project.project_people %></a>
                  </li>
                  <li>
                    <i class="fa fa-clock-o"></i><a href="#"><%= @project.created_at.strftime("%F") %></a>
                  </li>
                  <li>
                    <i class="fa fa-eye"></i><a href="#"><span><%= @project.unique_impression_count %></span></a>
                  </li>
                </ul>
              </div><!-- .entry-meta -->
              
              <div class="badge-area project-badge">
                <ul>
                  <% @project.categories.take(5).each do |category| %>
                    <li><%= category.category_contents %></li>
                  <% end %>
                  <% @project.skills.take(5).each do |skill| %>
                    <li><%= skill.skill_contents %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </header>
          <!-- /.entry-header-wrapper -->

          <div class="entry-content">
            <p><%= simple_format(@project.project_contents.html_safe) %></p>
          </div>
          <!-- .entry-content -->

          <div class="col-md-12 profile-component-last" id="reply-list">
            <div class="component-title">댓글</div>
            <ul class="media-list comment-list">
              <% @project.project_comments.reverse.each do |comment| %>
              <!-- Comment Item start-->
              <li class="comment-<%= comment.id %> media">
                <div class="media-left">
                  <span>
                    <% unless User.find(comment.user_id).user_image.thumb.url.nil? %>
                      <!--<img class="img-responsive" src="<%= @user.user_image.thumb.url %>"></a>-->
                      <img class="comment-<%= comment.id %>" src="<%= User.find(comment.user_id).user_image.thumbs.url %>">
                    <% end %>
                    
                  </span>
                </div>
                
                <div class="media-body">
                  <div class="comment-info">
                    <span class="comment-<%= comment.id %> author-name"><%= User.find(comment.user_id).user_name %> <span class="comment-<%= comment.id %>">(<%= comment.created_at.strftime("%m/%d at %I:%M%p") %>)</span></span>
                    
                    <div class="edit-reply">
                      <%if @user.id == comment.user_id%>
                        <a data-id="<%= comment.id %>" class="edit-comment">수정</a>
                        <a data-id="<%= comment.id %>" class="destroy-comment">삭제</a>
                      <%end%>
                    </div>
                  </div>
                  <p class="comment-detail-<%= comment.id %>"><%= comment.comment_contents%></p>
                </div>
                </li>
                <!-- Comment Item end-->
              <%end%>
            </ul>
            
            
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="default-comment">
                <div class="comment-wrap">
                  <form action="/projects/<%= @project.id%>/comments" method="post" id="replyform" class="comment" novalidate="" role="form">
                    <div class="form-group comment-form-comment comment-contents">
                      <textarea class="form-control comment_contents" name="comment_contents" placeholder="Comment" rows="8" aria-required="true"></textarea>
                    </div>

                    <div class="form-submit">
                      <button class="btn blue waves-effect waves-light pull-right" name="submit" id="reply-submit">작성</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
      </div>
      <!-- /.col-md-9 -->
      
      <div class="col-md-3">
        <div class="tt-sidebar-wrapper" role="complementary">
          <div class="widget widget_tt_author_widget">
            <div class="author-info-wrapper member-list join-list">
              <div class="team-list">
                <span>팀원 목록</span>
              </div>
              
              
                <% @project.user_projects.each do |user| %>
                  <% if user.authorized_member == true %>
                    <div class="join-<%= user.id %>">
                    <div class="author-thumb waves-effect waves-light">
                    <div class="author-thumb-small">
                    </div>
                        <span class="join-<%= user.user_id %>"><%= User.find(user.user_id).user_name %></span>
                        <%if @user.id==user.user_id ||@project.master_id==@user.id%>
                            <a class="cancel" data-user_id="<%=user.user_id %>">탈퇴</a>
                        <%end%>  
                     
                  </div>
                  </div>
                  <% end %>
                <% end %>
             
            </div><!-- /author-info-wrapper -->
          </div><!-- /.widget_tt_author_widget -->
          
        </div><!-- /.tt-sidebar-wrapper -->
      </div><!-- /.col-md-3 -->
      
      
      <% if @project.master_id == @user.id %>
      <div class="col-md-3">
        <div class="tt-sidebar-wrapper" role="complementary">
          <div class="widget widget_tt_author_widget">
            <div class="author-info-wrapper join-list">
              <div class="team-list">
                <span>신청 목록</span>
              </div>
              
              
                <% @project.user_projects.each do |user| %>
                  <% if user.authorized_member == false%>
                    <div class="join-<%=user.user_id%>">
                      <div class="author-thumb waves-effect waves-light">
                        <div class="author-thumb-small">
                          <img class="join-<%= user.user_id %>" src="<%= User.find(user.user_id).user_image.thumbs.url %>">
                          <!--<img src="<%= asset_path 'blog/author.jpg' %>" alt="">-->
                        </div>
                        <span class="join-<%= user.user_id %>"><a href="#"><%= User.find(user.user_id).user_name %></a></span>
                      </div>
                    
                      <div class="list-buttons">
                        <input type="button" class="accept" value=" 승인" data-user_id="<%= user.user_id %>">
                        <span>|</span>
                        <input type="button" class="cancel" value=" 취소" data-user_id="<%= user.user_id %>">
  
                      </div>
                    </div>
                  <% end %>
                <% end %>
              
            </div><!-- /author-info-wrapper -->
          </div><!-- /.widget_tt_author_widget -->
          
        </div><!-- /.tt-sidebar-wrapper -->
      </div><!-- /.col-md-3 -->
      <% end %>
      
      <%unless @user.user_projects.find_by(project_id: @project.id , authorized_member: true).nil?%>

      <div class="col-md-3">
        <div class="chat-container">
          <div class="chat-header">
            <span>채팅창</span>
          </div>
          <div class="chat-body scrollbar-secondary">
            <%@project.chats.each do |chat|%>
              <%if chat.user_id==@user.id%>
                <div class="chat-send">
                  <div class="chat-send-wrapper">
                    <div class="chat-send-content">
                        <div class="chat-send-name"><%=User.find(chat.user_id).user_name%></div>
                        <p><%=chat.message%></p>
                        <div class="time"><small><%=chat.created_at%></small></div>
                    </div>
                    <div class="chat-send-thumb"></div>
                  </div>
                </div>
              <%else%>
                <div class="chat-receive">
                  <div class="chat-receive-wrapper">
                    <div class="chat-receive-thumb"></div>
                    <div class="chat-receive-content">
                        <div class="chat-receive-name"><%=User.find(chat.user_id).user_name%></div>
                        <p><%=chat.message%></p>
                        <div class="time"><small><%=chat.created_at%></small></div>
                    </div>
                  </div>
                </div>
              <%end%>
            <%end%>
          </div>
            
            
          <div class="chat-footer">
            <div class="chat-input-group">
                <%=form_tag("/projects/#{@project.id}/chat", remote: true) do %>
                  <%= text_field_tag :message, "", class: "form-control chat"%>
                  <button>Enter</button>
                <%end%>
              <span>
                
              </span>
            </div>
          </div>
        </div>
      </div><!-- /.col-md-3 -->
      <%end%>
      
      <% if @project.master_id == current_user.id %>
        <div class="col-md-3 join-button">
          <a href="/projects/<%=@project.id%>/edit" class="btn cyan waves-effect waves-light pull-right button-container">수정</a>
          <a data-confirm="정말 프로젝트를 삭제하시겠습니까?" data-method="delete" href="/projects/<%=@project.id%>" rel="nofollow" class="btn pink waves-effect waves-light pull-right button-container">삭제</a>
        </div>
      <% else %>
      
        <%if @user.user_projects.find_by(project_id: @project.id).nil?%>
          <div class="col-md-3 join-button">
            <form class="join waves-effect waves-light pull-right button-container" action="/projects/<%= @project.id%>/join">
              <input type="submit" class="participate btn cyan button-container" value="참여하기">
            </form>
          </div>
        <%end%>
        <%if @user.user_projects.find_by(project_id: @projectid,authorized_member: false)%>
          <div class="col-md-3 join-button">
            <form class="join waves-effect waves-light pull-right button-container" action="/projects/<%= @project.id%>/join">
              <input type="submit" class="participate btn cyan button-container white-text" value="신청중" disabled>
            </form>
          </div>
        <%end%>
      <% end %>
      

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- blog section end -->



<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  
  <script>
    $(document).on('ready', function() {
        $('.comment').on('submit', function(e) {
            e.preventDefault();
            var comm = $('.comment_contents').val();
            console.log(comm);
        $('.comment_contents').val('');
            $.ajax({
                url: "/projects/<%= @project.id%>/comments",
                method: "POST",
                data: {
                    comment_contents: comm
                }
            });
        });
        
        $(document).on('click','.destroy-comment', function() {
          console.log("destroyed");
          var comment_id = $(this).attr('data-id');
          console.log(comment_id);
          $.ajax({
              url: "/projects/comments/" + comment_id,
              method: "delete"
          });
        });  
        
        $(document).on('click', '.edit-comment', function() {
            if($('.update-comment').length == 0){
            var comment_id = $(this).data('id');
            var edit_comment = $(`.comment-detail-${comment_id}`);
            var contents = edit_comment.text().trim();
            edit_comment.html(`
            <input type="text" value="${contents}" class="form-control edit-comment-${comment_id}">`);
            $(this).text("확인").removeClass("edit-comment btn warning").addClass("update-comment btn-dark");
            console.log(edit_comment);
            }else{
                alert('하나만 클릭하세요');
                return false;
            }
          
        });
        
        $(document).on('click', '.update-comment', function() {
            var comment_id = $(this).data('id');
            var comment_form = $(`.edit-comment-${comment_id}`);
            $.ajax({
                url: "/projects/comments/" + comment_id,
                method: "patch",
                data: {
                    comment_contents: comment_form.val()
                }
            })
        });
        
        //유저를 프로젝트에 가입시켜주는 요청
        //set_project 때문에 무조건 데이터 변수명 id로 해줘야함
        $(".accept").on('click',function(){
            
            let id = $(this).data("user_id")
            $.ajax({
                url:"/projects/<%=@project.id%>/user_authorize",
                type:"POST",
                data:{
                    accept_user:id
                }
            })
        })
        //신청 유저를 가입 취소시키는 방법
        $(".cancel").on('click',function(){
            
            let id = $(this).data("user_id")
            if(<%=@project.master_id%>===id){
                alert('팀장은 탈퇴 할 수 없습니다!.')
            }else{
                $.ajax({
                    url:"/projects/<%=@project.id%>/user_exit/<%=@project.id%>",
                    type:"get",
                    data:{
                        cancel_user:id
                    }
                })
            }
            
        })
        
         //채팅창을 위한 변수들 
        var pusher = new Pusher('<%=ENV["pusher_key"]%>', {
          cluster: '<%=ENV["pusher_cluster"]%>',
          encrypted: true
        });
        
        var channel = pusher.subscribe('project_<%=@project.id%>');
        
         //해당 채널이 바인딩 하고 있는 이벤트들
        channel.bind('join',function(data){
         console.log(data);
         user_joined(data);
       });
       channel.bind('chat',function(data){
            user_chat(data);
        })
        channel.bind('exit',function(data){
            console.log(data.user_id)
            user_exit(data);
        })
        channel.bind('disaster',function(data){
            master_exit(data);
        })


         function user_joined(data){
             $('.chat-body scrollbar-secondary').append(`<p>${data.user_name}님께서 입장하셨습니다.</p>`);
         }
         
         function user_chat(data){
           console.log(typeof data.user_name)
           console.log(data.message)
            if(data.user_name==="<%=@user.user_name%>"){
              $(".chat").val("")
              $(".chat-body").append(`
                <div class="chat-send">
                  <div class="chat-send-wrapper">
                    <div class="chat-send-content">
                        <div class="chat-send-name">${data.user_name}</div>
                        <p>${data.message}</p>
                        <div class="time"><small>(${data.created_at})</small></div>
                    </div>
                    <div class="chat-send-thumb">
                    </div>
                  </div>
                </div>
              </div>
              `)
               
            }else{    
                $(".chat").val("")
                $(".chat-body").append(`
                <div class="chat-receive">
                  <div class="chat-receive-wrapper">
                    <div class="chat-receive-thumb">
                    <div class="chat-receive-content">
                      <div class="chat-receive-name">${data.user_name}</div>
                        <p>${data.message}</p>
                        <div class="time"><small>(${data.created_at})</small></div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
               `)
            }
         }
         
         function user_exit(data){
             console.log(data);
            // $(`.user-${data.user_id}`).remove();
             $('.chat-body scrollbar-secondary').append(`<p>${data.user_name}님께서 방을 나가셨습니다..</p>`);
         }
         function master_exit(data){
             alert('방장이 방을 나갔습니다.');
             location.href='/';
         }
        
        
    });
    
</script>
  
<% end %>





      <!-- Message Modal -->
      <!--<div class="white-content" id="open">-->
      <!--  <div class="white-content-body">-->
      <!--    <div class="modal-header">-->
      <!--      <span class="modal-title">메세지 보내기</span>-->
      <!--      <a class="close-button" href="#close"><i class="fa fa-times" aria-hidden="true"></i></a>  -->
      <!--    </div>-->
      <!--    <div class="comments-tab modal-middle">-->
      <!--      <form>-->
      <!--        <div class="form-group">-->
      <!--          <label class="modal-label">받는 사람</label>-->
      <!--          <input class="form-control" type="text" readonly />-->
      <!--        </div>-->
      <!--        <div class="form-group">-->
      <!--          <label class="modal-label">메세지</label>-->
      <!--          <textarea class="form-control modal-textarea"></textarea>-->
      <!--        </div>-->
      <!--      </form>-->
      <!--    </div>-->
      <!--    <div class="modal-button">-->
      <!--      <button class="btn blue waves-effect waves-light pull-right" name="submit" id="submit" value="">보내기</button>-->
      <!--      <a href="javascript: history.back()" class="btn btn-sm black waves-effect waves-light pull-right button-container">취소</a>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
