alert(`<%=@user.user_name%> 님이 프로젝트에 참가 했습니다!`)

$(".join-<%=@user.id%>").remove();



$(".member-list").prepend(`
 <img class="join-<%= @user.id %>" src="<%= @user.user_image.thumbs.url %>">
 <span class="join-<%= @user.id %>"><%= @user.user_name %></span>
  <input type="button" value="취소" class="cancel" data-user_id="<%=@user.id %>">
`)