<!------------------------------------------------------------------------------ -->
<!------------------------------------------------------------------------------ -->
<!------------------------------------------------------------------------------ -->

<section class="section-area">
  <div class="container">
    <div class="text-center">
      <h2 class="section-title"></h2>
    </div>
    <div class="portfolio-container text-center">
      <div class="comments-tab search-tab">
        <div class="search-box">
        <form id="file_form" method="get" action="/user/list" enctype="multipart/form-data">
          <div class="search-box-title"><span>파트너 검색</span></div>
          <div class="search-box-content tech">
            <select class="form-control select-box category_list">
              <option disabled selected hidden>카테고리</option>
              <option value="빅데이터">빅데이터</option>
              <option value="웹">웹</option>
              <option value="앱">앱</option>
              <option value="ai">ai</option>
            </select>
            <input class="form-control search" placeholder="기술스택을 검색하세요." type="text">
          </div>
          <div class="add_skill">
              
          </div>
          <div class="badge-area skill_badge add_categories">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
          <input type="hidden" name="skill" id="skill">
          <input type="hidden" name="category" id="category">
        </form>
        </div>
      </div>

      <div class="portfolio portfolio-with-title col-3 gutter mtb-50">
        <div class="profile_list">
          <%@users.each do |user|%>
          <div class="col-md-4">
            <article class="post-wrapper">
              <div class="thumb-wrapper">
                <div class="author-thumb waves-effect waves-light">
                  <div class="author-thumb-inner">
                      <% unless user.user_image.thumb.url.nil? %>
                        <a href="/<%=user.user_name%>/profile"><img class="img-responsive" src="<%= user.user_image.thumb.url %>"></a>
                      <% end %>
                  </div>
                </div>
                <h3 class="entry-title"><a href="/<%=user.user_name%>/profile"><%=user.user_name%></a></h3>
              </div>
              <!-- .post-thumb -->
  
              <div class="badge-area">
                <% SkillUser.find_user_skill(user.id).each do |skill_name| %>
                  <span><%= skill_name %></span>
                <% end %>
              </div>
            </article>
            <!-- /.post-wrapper -->
          </div>
          <!-- /.col-md-4 -->
          <% end %>
        </div>
        

      </div>
      <!-- /.portfolio -->
    </div>
    <!-- portfolio-container -->
  </div>
  <!-- /.container -->
  <%= paginate @pageuser, theme: 'twitter-bootstrap-4' %>
</section>

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  <script>
    $(document).ready(function(){
        var find_skill = []
        var find_category = []
        
        //검색 ajax 요청 
        
        
        
        //스킬 탐색 기능
        $('.search').on('keyup', function(){
            
            var search = $(this).val();
            $.ajax({
                url:'/search',
                type:'POST',
                data: {
                    tech: search
                }
                
            })
        })
        
        //  //버튼 클릭시 파트너 탐색
        // $(".submit_partner").on('click',function(){
        //   if(find_skill.length===0){
        //         alert('적어도 하나 이상의 기술을 넣어주세요!')
        //     }else{
        //         $.ajax({
        //             url:'/users/find_partner',
        //             type:'POST',
        //             data:{
        //                 find_skill:find_skill,
        //                 find_category:find_category
        //             },
        //             success:function(data){
        //                 alert('검색완료!')
        //             }
        //         });
        //     }
        
        // });
        
         //스킬 뱃지 달기
        $(document).on('click', '.skill', function(){
           find_skill.push($(this).text());
           $(".skill_badge").prepend(`<span class='delete'>${$(this).text()}</span>`);
           $('#skill').val(find_skill.join(','));
           
        })
        
        //x를 눌렸을 때 스킬이 제거됨
        $(document).on('click','.delete', function(){
            var index =find_skill.indexOf($(this).text());
            find_skill.splice(index,1);
            $('#skill').val(find_skill.join(','));
            $(this).remove();
        })
    
           //카테고리 선택 뱃지 달기
        $(".category_list").on('change',function(){
            let selected_category = $(".category_list option:selected").text();
            let category_id = $(".category_list option:selected").val();
            find_category.push(category_id);
            $('#category').val(find_category.join(',')); //카테고리 값 넣는 곳
            $(".add_categories").prepend(`<span class='delete' data-category_id="${category_id}">${selected_category}</span>`)
        })
            //카테고리 선택 뱃지 제거
        $(document).on("click",".delete",function(){
            let selected_category= $(this).data('category_id');//number 타입이라 배열은 string임
            let category_id_index= find_category.indexOf(String(selected_category));
            find_category.splice(category_id_index,1);
            console.log("배열삭제 된 후"+find_category)
            $('#category').val(find_category.join(','))
            $(this).remove();
             
        })
        
    });
</script>
<% end %>




