<!---------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------->
<!-- blog section start -->
<section class="blog-section section-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="tt-sidebar-wrapper" role="complementary">

          <div class="widget widget_tt_author_widget">
            <div class="author-info-wrapper">

              <div class="author-cover">
                <div class="author-inner">
                  <% unless @user.user_image.thumb.url.nil? %>
                    <img class="img-responsive" src="<%= @user.user_image.thumb.url %>"></a>
                  <% end %>
                </div>
              </div>

              <div class="author-avatar">
                <h2><%=@user.user_name%></h2>
                <span></span>
              </div>

              <div class="author-social-links">
                <ul class="list-inline">
                  <li><a href="https://github.com/<%=@user.user_name%>" target="_self"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- /author-info-wrapper -->
          </div>
          <!-- /.widget_tt_author_widget -->

        </div>
        <!-- /.tt-sidebar-wrapper -->
        <% if current_user.user_name == @user.user_name %>
          <a href="/profile/edit" class="btn cyan waves-effect waves-light profile-edit-button">프로필 수정</a>
        <% end %>
      </div>
      <!-- /.col-md-4 -->
      
      
      
      <!-- POST AREA -->
      <div class="col-md-9 post-area">
        <div class="posts-content single-post">
            
            <div class="col-md-12 profile-component-first" id="level_management">
              <div class="progress-section">
                <span class="progress-title">
                  <!--레벨 사진 넣는 곳-->
                  <%if 5>@user.exp/100 %>
                    <img src="<%= asset_path 'level/bronze.png' %>">
                  <%elsif 10>@user.exp/100%>
                    <img src="<%= asset_path 'level/silver.png' %>">
                  <%else%>
                    <img src="<%= asset_path 'level/gold.png' %>">
                  <%end%>
                  Level <span>&nbsp;<%=@user.exp/100 %></span>
                </span>
                <div class="progress">
                  <div class="progress-bar brand-bg six-sec-ease-in-out" role="progressbar" aria-valuenow="<%=@user.exp%100%>" aria-valuemin="0" aria-valuemax="100">
                      <span><%=@user.exp%100%>%</span>
                  </div>
                </div><!-- /.progress -->
                <div class="point-area">point : <span><%=@user.exp%100%></span></div>
              </div> <!-- progress-section end -->
            </div>
            <div class="col-md-12 profile-component-second" id="info-management">
              <div class="profile-management-title">
                <!--<span><i class="fa fa-id-card-o" aria-hidden="true"></i> 등록된 회원정보가 없습니다.</span>-->
                <span><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= @user.email %>
                  <% unless @user.address.nil? %>
                    <span class="asterisk">|</span>&nbsp;&nbsp;<%=@address%>
                  <% end %>
                  <% unless @user.birth.nil? %>
                    <span class="asterisk">|</span>&nbsp;&nbsp;<%=@user.birth%>
                  <% end %>
                  <% unless  @user.tel.nil? %>
                    <span class="asterisk">|</span>&nbsp;&nbsp;<%=@user.tel%>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="col-md-12 profile-component" id="skill-management">
              <!--<div><i class="fa fa-info-circle" aria-hidden="true"></i> 등록된 프로필 정보가 없습니다.</div>-->
              <div class="col-md-3 skill-component">
                <span class="component-title">주요 카테고리</span>
                <ul class="list-group">
                  <% if @user.categories.empty? %>
                    <li class="list-group-item list-component">
                      <i class="fa fa-check-square-o"></i>
                      <span class="list-content">정보 없음</span>
                    </li>
                    <li class="list-group-item list-component">
                      <i class="fa fa-check-square-o"></i>
                      <span class="list-content">정보 없음</span>
                    </li>
                    <li class="list-group-item list-component">
                      <i class="fa fa-check-square-o"></i>
                      <span class="list-content">정보 없음</span>
                    </li>
                  <% else %>
                    <%@user.categories.take(3).each do |category| %>
                      <li class="list-group-item list-component">
                        <i class="fa fa-check-square-o"></i>
                      <span><%=category.category_contents%></span>
                      </li>  
                    <%end%>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-3 skill-component">
                <span class="component-title">주요 보유기술</span>
                <ul class="list-group">
                  <%unless SkillUser.find_user_skill(@user.id).empty?%>
                    <%SkillUser.find_user_skill(@user.id).take(3).each do |skill_name| %>
                      <li class="list-group-item list-component">
                        <i class="fa fa-check-square-o"></i>
                        <span><%=skill_name%></span>
                      </li>
                    <%end%>
                  <%else%>
                    <li class="list-group-item list-component">
                      <i class="fa fa-check-square-o"></i>
                      <span class="list-content">정보 없음</span>
                    </li>
                    <li class="list-group-item list-component">
                      <i class="fa fa-check-square-o"></i>
                      <span class="list-content">정보 없음</span>
                    </li>
                    <li class="list-group-item list-component">
                      <i class="fa fa-check-square-o"></i>
                      <span class="list-content">정보 없음</span>
                    </li>
                  <%end%>
                  
                </ul>
              </div>
              <div class="col-md-6 skill-component">
                <span class="component-title">GitHub 기술스택</span>
                <div id="pre-loader">
                  <img src="<%= asset_path 'preloader/preloader.gif' %>" />
                  <span>데이터를 불러오는 중입니다...</span>
                </div>
                <canvas id="myChart"></canvas>
              </div>
            </div>
            
            <div class="col-md-12 profile-component" id="portfolio-management">
              <div class="portfolio-management-title">
                <span class="component-title">포트폴리오</span>
                <% if current_user.user_name == @user.user_name %>
                <span>
                  <a href="/portfolio" class="btn cyan waves-effect waves-light pull-right button-container">포트폴리오 등록</a>
                </span>
                <% end %>
              </div>
              <% if @user.portfolios.empty? %>
                <div>등록된 포트폴리오가 없습니다.</div>
              <% else %>
                <div class="featured-carousel brand-dot">
                <% @user.portfolios.each do |portfolio| %>
                      <div class="featured-item border-box" data-portfolio_id=<%=portfolio.id%>>
                        <div class="portfolio-thumb-wrapper waves-effect waves-block waves-light">
                          <img src="<%=portfolio.portfolio_file.thumb.url%>" class="img-responsive">
                        </div><!-- .post-thumb -->
                      <div class="blog-content">
                        <header class="entry-header-wrapper">
                          <div class="entry-header">
                            <h2 class="entry-title"><a href="/portfolio/show/<%=portfolio.id%>"><%=portfolio.portfolio_title%></a></h2>
                            <div class="badge-area">
                              <%portfolio.skills.each do |skill|%>
                                <span><%=skill.skill_contents%></span>
                              <%end%>
                            </div>
                          </div><!-- /.entry-header -->
                        </header><!-- /.entry-header-wrapper -->
                      </div><!-- /.blog-content -->
                    </div><!-- /.featured-item -->
                <% end %>
                </div><!-- /.featured-carousel -->
              <% end %>
            
            </div><!-- /.profile-component -->
            
            <div class="col-md-12 profile-component" id="ing-project">
              <div class="component-title">자기소개</div>
              <div class="col-md-12 self-introduce">
                <% unless @user.user_contents.nil? %>
                  <span><%=@user.user_contents%></span>
                <% else %>
                  <span>등록된 자기소개가 없습니다.</span>
                <% end %>
              </div>
            </div>
              

          <!-- /.posts-content -->
        </div>
        <!-- /.col-md-9 -->

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- blog section end -->

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  <script>
  
 $('.featured-item').on('click',function(){
   let portfolio_id=$(this).data("portfolio_id")
     location.href=`/portfolio/show/${portfolio_id}`;

 })
  
<%if @user.user_name==current_user.user_name%>
    $(document).ready(function(){
        $.ajax({
            url:"/github",
            type:"POST"
           
        })
    })
<%end%>

let i =<%=@github_language.to_json.html_safe%>
if (Object.keys(i).length === 0){
    $('#myChart').hide();
    $("#pre-loader").show();
  
}else{
    $('#myChart').show();
    $("#pre-loader").hide();
  
}

let arr_name =[]
let arr_value = []
for(let key in i){
    arr_name.push(key);
    arr_value.push(i[key]);
}

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        
        labels: arr_name,
        datasets: [{
            label: 'github skills',
            data: arr_value,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(245, 245, 245, 0.2)',
                'rgba(64, 224, 208, 0.2)',
                'rgba(216, 191, 216, 0.2)',
                'rgba(0, 0, 128, 0.2)'
                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(245, 245, 245, 1)',
                'rgba(64, 224, 208, 1)',
                'rgba(216, 191, 216, 1)',
                'rgba(0, 0, 128, 1)'
                
            ],
            borderWidth: 1
        }]
    },
    options: {
      legend: {
        position: 'right',
        labels: {
          boxWidth: 13,
          fontSize: 9
        }
      },
      layout: {
        padding: {
          right: 40
        }
      }
    }
});
    
</script>

<% end %>