<!-- blog section start -->
<section class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="posts-content single-post">
          <div class="comments-wrapper">
            <div class="comments-tab">
              <!-- Tab panes -->
              <div class="panel-body">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="default-comment">
                    <div class="comment-respond">
                      <form id="file_form" method="post" action="/portfolio/update/<%=@portfolio.id%>" enctype="multipart/form-data" class="search-form commentform">
                        <div class="form-group forms">
                          
                          <div class="line">
                            <span class="box-title">포트폴리오 수정</span>
                          </div>
                          
                          <div class="line">
                            <div class="label-middle">
                              <label class="label-content"><span class="asterisk">*</span>배너 이미지</label>
                            </div>
                            <div class="input">
                              <div class="fileBox">
	                              <input type="text" class="fileName" readonly="readonly">
	                               <label for="uploadBtn" class="btn_file">찾아보기</label>
	                               <input type="file" id="uploadBtn" class="uploadBtn" name="file_path">
                              </div>
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="label-area">
                              <label class="label-content"><span class="asterisk">*</span>제목</label>
                            </div>
                            <div class="input">
                              <input class="form-control title" placeholder="제목" type="text" name="portfolio_title"  value="<%unless @portfolio.portfolio_title.empty?%><%=@portfolio.portfolio_title%><%end%>" required>
                            </div>
                          </div>
                          
                          <div class="badge-box">
                            <div class="label-middle">
                              <label class="label-content"><span class="asterisk">*</span>카테고리</label>
                            </div>
                            <div class="input">
                              <select class="form-control select-box category_list" required>
                                <option disabled selected hidden>카테고리</option>
                                <option value="웹">웹</option>
                                <option value="앱">앱</option>
                                <option value="빅데이터">빅데이터</option>
                                <option value="AI">AI</option>
                                <option value="임베디드">임베디드</option>
                                <option value="VR">VR</option>
                                <option value="핀테크">핀테크</option>
                                <option value="블록체인">블록체인</option>
                                <option value="e-commerce">e-commerce</option>
                                <option value="게임">게임</option>
                                <option value="소프트웨어">소프트웨어</option>
                              </select>
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="label-middle">
                              <label class="label-content"></label>
                            </div>
                            <div class="input">
                              <div class="form-control selected-badge add_categories" placeholder="" type="text" readonly>
                                  <%unless @portfolio.categories.empty?%>
                                    <%@portfolio.categories.each do |category|%>
                                      <span class="delete_category" data-category_id="<%=category.category_contents%>">
                                      <%=category.category_contents%>
                                      </span>
                                    <%end%>
                                  <%end%>
                              </div>
                              <input type="hidden" name="category" id="category" value="<%unless @portfolio.categories.empty?%><%=@portfolio.categories.map{|c| c.category_contents+","}.reduce(:+).gsub(/[,]$/,'')%><%end%>">
                            </div>
                          </div>
                          
                          <div class="badge-box">
                            <div class="label-middle">
                              <label class="label-content"><span class="asterisk">*</span>사용 기술</label>
                            </div>
                            <div class="input tech">
                              <input class="form-control search" placeholder="기술스택을 검색하세요." type="text">
                            </div>
                          </div>
                          
                          <div class="badge-box">
                            <div class="label-middle">
                            </div>
                            <div class="input add_skill edit_skill">
                              <input type="hidden" name="skill" id="skill_name" value="<%unless SkillUser.find_user_skill(@user.id).empty?%><%=SkillUser.find_user_skill(@user.id).map{|c| c+","}.reduce(:+).gsub(/[,]$/,'')%><%end%>">
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="label-middle">
                              <label class="label-content"></label>
                            </div>
                            <div class="input">
                              <div class="form-control selected-badge skill-badge" placeholder="" type="text" readonly>
                                <%unless @portfolio.skills.empty?%>
                                  <%@portfolio.skills.each do |skill|%>
                                    <span class="delete_skill" data-skill_id="<%=skill.skill_contents%>">
                                    <%=skill.skill_contents%>
                                    </span>
                                  <%end%>
                                <%end%>
                              </div>
                              <input type="hidden" name="skill" id="skill" value="<%unless @portfolio.skills.empty?%><%=@portfolio.skills.map{|c| c.skill_contents+","}.reduce(:+).gsub(/[,]$/,'')%><%end%>">
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="label-area">
                              <label class="label-content"><span class="asterisk">*</span>시작 일자</label>
                            </div>
                            <div class="input">
                              <select class="form-control select-box year" name="start_year" required>
                                <option disabled selected hidden>년</option>
                                <% 2018.downto(1950) do |year| %>
                                <%if @start_year==year.to_s%>
                                  <option value="<%= @start_year %>" selected="selected"><%= @start_year %></option>
                                <%end%>
                                  <option value="<%= year %>"><%= year %></option>
                                <% end %>
                              </select>
                              <select class="form-control select-box month"  name="start_month" required>
                                <option disabled selected hidden>월</option>
                                <% 1.upto(12) do |month| %>
                                   <%if @end_month==month.to_s%>
                                    <option value="<%= @start_month %>" selected="selected" ><%= @start_month %></option>
                                  <%end%>
                                  <option value="<%= month %>"><%= month %></option>
                                <% end %>
                              </select>
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="label-area">
                              <label class="label-content"><span class="asterisk">*</span>종료 일자</label>
                            </div>
                            <div class="input">
                              <select class="form-control select-box year" required name="end_year">
                                <option disabled selected hidden>년</option>
                                <% 2018.downto(1950) do |year| %>
                                  <%if @end_year==year.to_s%>
                                    <option value="<%= @end_year %>" selected="selected" ><%= @end_year %></option>
                                  <%end%>
                                  <option value="<%= year %>"><%= year %></option>
                                <% end %>
                              </select>
                              <select class="form-control select-box month"  name="end_month">
                                <option disabled selected hidden>월</option>
                                <% 1.upto(12) do |month| %>
                                  <%if @end_month==month.to_s%>
                                    <option value="<%= @end_month %>" selected="selected" name="end_month"><%= @end_month %></option>
                                  <%end%>
                                  <option value="<%= month %>" name="end_month"><%= month %></option>
                                <% end %>
                              </select>
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="label-top">
                              <label class="label-content"><span class="asterisk">*</span>주요 내용</label>
                            </div>
                            <div class="input">
                              
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="editor-area">
                              <textarea rows="4" cols="50" placeholder="포트폴리오 소개" id="summernote" name="portfolio_introduce" data-provider="summernote"><%= @portfolio.portfolio_contents %></textarea>
                            </div>
                          </div>
                          
                          <div class="line">
                            <div class="input btns">
                              <!--<button class="btn btn-sm black waves-effect waves-light pull-right" name="submit" id="submit" value="" onclick="javascript: history.back();">취소</button>-->
                              <a href="javascript: history.back()" class="btn btn-project btn-sm black waves-effect waves-light pull-right button-container">취소</a>
                              <button class="btn btn-project blue waves-effect waves-light pull-right">수정</button>
                            </div>
                          </div>
                          
                        </div><!-- ./form-group -->
                        
                      </form>

                    </div>
                  </div>
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.comments-tab -->
          </div>
          <!-- /.comments-wrapper -->
        </div>
        <!-- /.posts-content -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- blog section end -->

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  
  <script>
    var uploadFile = $('.fileBox .uploadBtn');
    
    uploadFile.on('change', function(){
	    if(window.FileReader){
		    var filename = $(this)[0].files[0].name;
	    } else {
	     	var filename = $(this).val().split('/').pop().split('\\').pop();
	    }
	    $(this).siblings('.fileName').val(filename);
    });
  </script>
  
  <script>
        var find_skill = [];
        var find_category = [];
        $('.delete_category').each(function () {
            find_category.push($(this).attr('data-category_id')); 
        })
          $('.delete_skill').each(function () {
            find_skill.push($(this).attr('data-skill_id')); 
        })
        
        
       
        //스킬 탐색 기능
        $('.search').on('keyup', function(){
            
            var search = $(this).val();
            $.ajax({
                url:'/search',
                type:'POST',
                data: {
                    tech: search
                }
                
            })
        })
        
        
         //스킬 뱃지 달기
        $(document).on('click', '.skill', function(){
           if(find_skill.indexOf($(this).text())>-1){
               alert('중복 값은 불가합니다.');
           }else{
               find_skill.push($(this).text());
               $(".skill-badge").prepend(`<span class='delete_skill' data-skill_id=${$(this).text()}>${$(this).text()}</span>`);
               $('#skill').val(find_skill.join(','));
           }
        })
        
        //x를 눌렸을 때 스킬이 제거됨
        $(document).on('click','.delete_skill',function(){
            
            let selected_skill= $(this).data('skill_id');
            var index =find_skill.indexOf(String(selected_skill));
            find_skill.splice(index,1);
            $('#skill').val(find_skill.join(','));
            $(this).remove();
        })
    
           //카테고리 선택 뱃지 달기
        $(".category_list").on('change',function(){
            
            let selected_category = $(".category_list option:selected").text();
            let category_id = $(".category_list option:selected").val();
            
            if(find_category.indexOf(category_id)>-1){
                alert('중복 값은 불가합니다.')
            }else{
                find_category.push(category_id);
                $('#category').val(find_category.join(',')); //카테고리 값 넣는 곳
                $(".add_categories").prepend(`<span class='delete_category' data-category_id="${category_id}">${selected_category}</span>`)
            }
           
        })
            //카테고리 선택 뱃지 제거
        $(document).on("click",".delete_category",function(){
            
            let selected_category= $(this).data('category_id');//number 타입이라 배열은 string임
            let category_id_index= find_category.indexOf(String(selected_category));
            
            find_category.splice(category_id_index,1);
            $('#category').val(find_category.join(','))
            $(this).remove();
             
        });
       
          var image ="<%=@portfolio.portfolio_file.url%>"
          $(".fileName").val(image)
          var path = function() {
          var image_path = "<%=@user.user_image.url%>"
          $(".fileName").val(image_path);
        }
        path();
     
</script>


<% end %>



