<!-- Single Project Section -->
<section class="single-project-section">
  <div class="container">
    <div class="project-overview">
      <div class="row mb-80">
        <div class="col-md-8 content-view">
          <div class="portfolio-detail-banner">
              <img src="<%=@portfolio.portfolio_file.url%>" class="img-responsive">
            </div><!-- .post-thumb -->
          <h2 class="mb-30 font-35"><%=@portfolio.portfolio_title%></h2>
          <p><%= simple_format(@portfolio.portfolio_contents) %></p>
        </div>

        <div class="col-md-4 quick-overview">
          <ul class="portfolio-meta">
            <li><span class="content-name"> 시작일 | </span><span class="content-date"><%= @portfolio.portfolio_start %></span></li>
            <li><span class="content-name"> 종료일 | </span><span class="content-date"><%= @portfolio.portfolio_end %></span></li>
            <li><span class="content-name"> 관련기술 | </span>
              <%@portfolio.skills.take(3).each do |skill|%>
                <span class="content-skill"><%=skill.skill_contents%></span>
              <%end%>
            </li>
            <li><span class="content-name"> 카테고리 | </span>
              <%@portfolio.categories.take(3).each do |category|%>
                <span class="content-category"><%=category.category_contents%></span>
              <%end%>
            </li>
          </ul>
          <div class="button-area">
            <%if @portfolio.user.user_name==current_user.user_name%>
              <a href="/portfolio/edit/<%=@portfolio.id%>" class="btn btn-sm btn-edit waves-effect waves-light pull-right button-container">수정</a>
              <a href="/portfolio/delete/<%=@portfolio.id%>" class="btn btn-sm btn-del waves-effect waves-light pull-right button-container">삭제</a>
            <%end%>
          </div>
        </div>
      </div><!-- /.row -->

    </div><!-- /.project-overview -->
  </div><!-- /.container -->
</section><!-- /.single-project-section -->

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>
